body{
    background-image: url("chat\ black.jpg");
}
.header{
height: 60px;
margin-bottom: 20px;
align-items: center;
color: white;
}
.clr{
    background-color: rgb(15, 13, 13);
    height: 60px;
    padding-top: 8px;
}
.one{
    text-align: right;
    height: 50px;
    width: 100%;
    padding-top: 18px;
    border-bottom-left-radius:10px;
    border-top-right-radius:10px;
    border-top-left-radius: 10px;
    /* margin-left: 10px; */
    /* margin-right: 10px; */
    padding-left: 15px;
    padding-right: 15px;
    
}
.two{
     text-align: left;
     height: 50px;
    width: 100%;
    padding-top: 18px;
    border-bottom-right-radius:10px;
    border-top-right-radius:10px;
    border-top-left-radius: 10px;
    /* margin-left: 10px;
    margin-right: 10px; */
    padding-left: 15px;
    padding-right: 15px;
}